.code_block {
    position: relative;
    padding: 10px;
    font-size: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow: auto;
    line-height: 1.6;
    min-width: 500px;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.code_block_dark {
    background: #1E1E1E;
  color: #DCDCDC;
}

.code_block_light {
    color: #24292e;
    background: #ffffff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.copy_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.copy_button {
    position: relative;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 2px 7px;
    margin: 10px;
}

.copy_button_dark {
    color: #fff;
    background: gray;
}

.copy_button_light {
    background: #fff;
    color : gray;
    border: 1px solid gray;

}

.copied_text {
    padding: 5px;
    display: none;
}

.copied_text_light {
    color : #fff;
    background: #161b22;
}

.copied_text_dark {
    color: #161b22;
    background: #fff;
}

