.code_block {
    position: relative;
    padding: 10px;
    font-size: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    background: #161b22;
    overflow: auto;
    line-height: 1.6;
    border: 1px solid #333;
    border-left: 3px solid #e81029;
    color: #564;
    display: flex;
    justify-content: space-between;
}
