.code_block {
    position: relative;
    padding: 25px;
    font-size: 15px;
    word-wrap: break-word;
    white-space: pre-wrap;
    background: #161b22;
    overflow: auto;
    line-height: 1.6;
    border: 1px solid #333;
    border-left: 3px solid #e81029;
    color: #564;
    min-width: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.copy_block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 8px 12px; /* Add padding: top/bottom 8px, left/right 12px */
    border-radius: 4px;
}
.copy_block button {
    border-radius: 8px;
}

.copied_alert {
    position: fixed;
    bottom: 1rem;  /* Use relative units like rem for better responsiveness */
    right: 1rem;
    background-color: #4CAF50; /* A pleasant shade of green */
    color: white;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    animation: fadeIn 0.3s ease-in; /* Optional fade-in animation */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



.copied_text {
    background: #fff;
    padding: 5px;
    color: #161b22;
    display: none;
}
